game {
  align-items: center;
  border-radius: calc(2 * var(--gameBorder));
  display: flex;
  flex-direction: column;
  padding-bottom: var(--gameBorder);
  position: relative;
  transform: scale(1.4);
  width: calc(var(--boardSize) + 2 * var(--gameBorder));
}
game header {
  position: relative;
  margin: calc(var(--gameBorder) / 2) 0;
  width: var(--boardSize);
}
game header h1,
game header h2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 4vmin;
  line-height: 5vmin;
  text-shadow: 0 1px 1px #fff;
  -webkit-user-select: none;
          user-select: none;
  color: var(--primaryColor);
}
game header h1 {
  color: var(--tileColor);
}
@media screen and (orientation: landscape) {
  game header h1 {
    margin: 2vmin 0 1vmin;
  }
}
game header h2 {
  color: #3e3249;
  position: absolute;
  top: 2vmin;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 6vmin;
  z-index: -1;
  width: var(--boardSize);
}
@media screen and (orientation: landscape) {
  game header h2 {
    margin: 4vmin 0 0;
  }
}
game header h3 {
  position: absolute;
  top: 1vmin;
  font-size: 2vmin;
  text-shadow: none;
  margin: 0;
}
game header h3.moves {
  color: var(--tileColor);
  right: 2vmin;
}
game header h3.undo {
  cursor: pointer;
  color: var(--accentColor);
  left: 2vmin;
}
game header h3.undo.undo--enabled {
  color: lime;
}
game header .dummy {
  opacity: 0;
}
game header .dummy,
game header .score {
  font: inherit;
}
game header .title {
  cursor: pointer;
  font-size: 5vmin;
  line-height: 5vmin;
}
/* Metal ------------------------- */
.metal {
  color: hsl(0, 0%, 20%);
  text-shadow: hsla(0, 0%, 40%, 0.5) 0 -1px 0, hsla(0, 0%, 100%, 0.6) 0 2px 1px;
  background-color: var(--primaryColor);
  box-shadow: inset #bbbbbb 0 0 0 4px, inset #b1b1b1 0 -1px 5px 4px, inset rgba(0, 0, 0, 0.25) 0 -1px 0 7px, inset rgba(255, 255, 255, 0.7) 0 2px 1px 7px, rgba(0, 0, 0, 0.15) 0 -5px 6px 4px, rgba(255, 255, 255, 0.5) 0 5px 6px 4px;
  transition: color 0.2s;
  /* Linear ------------------------- */
}
.metal.radial {
  background-image: -webkit-radial-gradient(50% 0%, 8% 50%, hsla(0, 0%, 100%, 0.5) 0%, hsla(0, 0%, 100%, 0) 100%), -webkit-radial-gradient(50% 100%, 12% 50%, hsla(0, 0%, 100%, 0.6) 0%, hsla(0, 0%, 100%, 0) 100%), -webkit-radial-gradient(0% 50%, 50% 7%, hsla(0, 0%, 100%, 0.5) 0%, hsla(0, 0%, 100%, 0) 100%), -webkit-radial-gradient(100% 50%, 50% 5%, hsla(0, 0%, 100%, 0.5) 0%, hsla(0, 0%, 100%, 0) 100%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 3%, hsla(0, 0%, 0%, 0.1) 3.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, 0.1) 7.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, 0.2) 2.2%), -webkit-radial-gradient(50% 50%, 200% 50%, hsl(0, 0%, 90%) 5%, hsl(0, 0%, 85%) 30%, hsl(0, 0%, 60%) 100%);
}
.metal.radial:after,
.metal.radial:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  /* fake conical gradients */
  background-size: cover;
  background-image: -webkit-radial-gradient(50% 0%, 10% 50%, hsla(0, 0%, 0%, 0.1) 0%, hsla(0, 0%, 0%, 0) 100%), -webkit-radial-gradient(50% 100%, 10% 50%, hsla(0, 0%, 0%, 0.1) 0%, hsla(0, 0%, 0%, 0) 100%), -webkit-radial-gradient(0% 50%, 50% 10%, hsla(0, 0%, 0%, 0.1) 0%, hsla(0, 0%, 0%, 0) 100%), -webkit-radial-gradient(100% 50%, 50% 6%, hsla(0, 0%, 0%, 0.1) 0%, hsla(0, 0%, 0%, 0) 100%);
}
.metal.radial:before {
  transform: rotate(65deg);
}
.metal.radial:after {
  transform: rotate(-65deg);
}
t .metal.linear {
  background-size: 100px 100%;
  background-repeat: repeat;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 6%, hsla(0, 0%, 100%, 0.1) 7.5%), -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 4%, hsla(0, 0%, 0%, 0.03) 4.5%), -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, 0.15) 2.2%), linear-gradient(180deg, hsl(0, 0%, 78%) 0%, hsl(0, 0%, 90%) 47%, hsl(0, 0%, 78%) 53%, hsl(0, 0%, 70%) 100%);
}
